.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img_slide {
    width: 100%;
    object-fit: cover;
}
.btn {
    cursor: pointer;
    user-select: none;
    background: red;
    background-clip: padding-box;
    box-sizing: content-box;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    border-radius: 50%;
    border: 15px solid transparent;
}
.btn:active {
    background-color: aqua;
}
.btn:hover {
    background-color: blueviolet;
    transition: .3s;
}
